{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modifier ce produit{% endblock %}

{% block description %}{{product.description}}{% endblock %}
{% block keywords %}{{product.keywords}}{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier ce produit</h1>

    <div class="container my-5">
         <div class="row">
               <div class="col-md-10 mx-auto">
                    {{ form_start(form) }}
                         <div class="mb-3">
                             <label for="product_form_title">Titre</label>
                             <div class="text-danger">{{ form_errors(form.title) }}</div>
                             {{ form_widget(form.title, {"attr":{"class": "form-control"}}) }}
                         </div>

                         <div class="mb-3">
                             <label for="product_form_category">Catégorie</label>
                             <div class="text-danger">{{ form_errors(form.category) }}</div>
                             {{ form_widget(form.category, {"attr":{"class": "form-control"}}) }}
                         </div>

                         <div class="mb-3">
                             <label for="product_form_description">Description</label>
                             <div class="text-danger">{{ form_errors(form.description) }}</div>
                             {{ form_widget(form.description, {"attr":{"class": "form-control"}}) }}
                         </div>

                         <div class="row mb-3">
                            <div class="col-md-6 text-center">
                                 {% if product.image %}
                                    <img class="img-fluid" src="{{ vich_uploader_asset(product, 'imageFile'|imagine_filter('admin_product_thumb')) }}" alt="{{ product.title }}">
                                 {% else %}
                                    <p>Aucune image existante</p>
                                 {% endif %}    
                                 
                            </div>

                            <div class="col-md-6">
                                {% if product.image %}
                                    <label for="product_form_imageFile_file">Modifier l'image</label>
                                {% else %}
                                    <label for="product_form_imageFile_file">Sélectionner une nouvelle image</label>
                                {% endif %}    
                                  <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                                  {{ form_widget(form.imageFile, {"attr":{"class": "form-control mb-3"}}) }}
                            </div>
                         </div>

                         <div class="mb-3">
                             <label for="product_form_keywords">Mots clés</label>
                             <div class="text-danger">{{ form_errors(form.keywords) }}</div>
                             {{ form_widget(form.keywords, {"attr":{"class": "form-control"}}) }}
                         </div>

                         <div>
                             <input formnovalidate type="submit" class="btn btn-primary shadow" value="Sauvegarder">
                         </div>
                    {{ form_end(form) }}
               </div>
         </div>
    </div>


{% endblock %}